/* base setting */
* {
	font-family: Arial;
	text-align: center;
	background-color: #c5c5c5;
}

h1, h2, p {
	font-family: Verdana;
}

h1, h2, p, a {
	color: darkslategrey;
}

h1 {
	font-weight: normal;
	font-size: 50px;
}

h2 {
	font-weight: 300;
	font-size: 42px;
}

p {
	color: gray;
	font-size: 21px;
}